<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabai.easy_lowcode.collector.mapper.ApiManagementMapper">

    <select id="selectByPathAndMethod" resultType="com.dabai.easy_lowcode.collector.entity.ApiManagement">
        SELECT * FROM collector_api_management 
        WHERE api_path = #{apiPath} 
        AND api_method = #{apiMethod}
        AND deleted = 0
        LIMIT 1
    </select>
    
</mapper>
